<h1>Gerenciador de conteúdo</h1>

<a href="http://localhost/Projetinho/?pagina=admin&metodo=create">Criar publicação</a>
<br>
<br>
<hr>
<br>
<table border="5">
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>ALTERAÇÃO</th>
        <th>DELEÇÃO</th>
    </tr>
    {% for postagem in postagens %}
    <tr>
        <th>{{postagem.id_post}}</th>
        <th>{{postagem.titulo}}</th>
        <th><a href="http://localhost/Projetinho/?pagina=admin&metodo=alter&id={{postagem.id_post}}">Alterar</a></th>
        <th><a href="http://localhost/Projetinho/?pagina=admin&metodo=delete&id={{postagem.id_post}}">Deletar</a></th>
    </tr>
    {% endfor %}
</table>