<section>
    <article>
        <header>
            <h2>{{titulo}}</h2>
        </header>
        <p>{{conteudo}}</p>
        <br>
        <hr>
        <br>
        <form method="post" action="?pagina=post&metodo=coment&id={{id_post}}" width="200px">
            <input type="text" name="titulo" placeholder="Título comentário..."><br>
            <br>
            <textarea name="conteudo" cols="50" rows="5" maxlength="200" placeholder="Cometário..." style="resize: none"></textarea>
            <input type="submit" value="Comentar">
        </form>

        {%if comentarios == false %}
        <br>
        <h4>Nenhum comentário nessa sessão</h4>
        {% else %}
        {% for coment in comentarios %}
        <br>
        <h4>{{coment.nome}}</h4>
        <p>{{coment.mensagem}}</p>
        {% endfor %}
        {% endif %}
    </article>
</section>