<!DOCTYPE html>
<html lang="pt-br">

<head>
    <base href="http://localhost/Projetinho/">
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="App/Template/css/style.css"/>
</head>


<body>
    <div id="corpo">
        <header>
            <div id="topo">
                <nav>
                    <a href="http://localhost/Projetinho">Home</a> |
                    <a href="http://localhost/Projetinho/Sobre">Sobre</a>
                    <a href="http://localhost/Projetinho/Admin" 
                    class="floatRight">Admin</a>
                </nav>
            </div>
        </header>

        <div id="conteudo">
            {{conteudo}}
        </div>
        <footer>
            <div id="rodape">
                
            </div>
        </footer>
    </div>
</body>

</html>